html {
    height:100%;
    scroll-behavior:smooth;
    overflow-x:hidden;
    background-color:black;
}
body {
    font-family: 'Maven Pro', sans-serif;
    margin:0;
    padding:0;
    font-size:18px;
    color:black;
    font-weight:500;
    height:100%;
}
.navbar {
    user-select:none;
}
.navbarCC {
    position:absolute;
    top:0;
    height:auto;
    width:100%;
    background-color:white;
    border-bottom:9px solid white;
    z-index:99;
}
.navbarC {
    display:grid;
    grid-template-columns: 6% 30% 8.5% 8.5% 8.5% 8.5% 8.5% 8.5% 13%;
    justify-content:space-evenly;
    align-content:center;
    height:auto;
    width:90%;
    margin-right:auto;
    margin-left:auto;
    padding:10px;
}
.navItem {
    text-align:center;
    display:grid;
    grid-template-columns: auto;
    align-content:center;
    justify-content:center;
}
.navItem:hover {
    color:#1A8AEC;
    cursor:pointer;
}
.navbarImg {
    height:80px;
    width:auto;
    margin-left:auto;
    margin-right:auto;
}
#navbarMainT {
    font-size:30px;
    font-weight:700;
}
#navbarMainT:hover, #navItem7:hover {
    color:black;
}
#navItem2:hover, #navItem3:hover, #navItem4:hover, #navItem5:hover {
    cursor:context-menu;
} 
#portalBtn:hover {
    background-color:#1A8AEC;
    color:white;
}
.navbarDropdownC {
    position:absolute;
    list-style-type:none;
    margin:0;
    padding:0;
    text-align:center;
    width:auto;
    z-index:1;
}
.navDropItem {
    background-color:#1A8AEC;
    padding:7px 15px;
    max-width:200px;
}
.navDropItem:hover {
    background-color:#44B7EF;
    cursor:pointer;
}
.bodyContent {
    position:absolute;
    top:110px;
    margin:0;
    padding:0;
    height:auto;
    width:100%;
}
.mainHeader {
    position:relative;
    width:100%;
    height:50%;
    margin:0px;
    border:1px solid black;
}
.headerImage {
    height:100%;
    width:100%;
    margin:0px;
}
.mHTxt {
    position:absolute;
    top:15%;
    left:15%;
    width:60%;
    color:white;
    line-height:6vw;
    font-weight:700;
    font-size:4.5vw;
}
.contentH {
    padding:40px 0px;
    width:100%;
    height:auto;
    background-image:linear-gradient(135deg, rgb(37,205,254), rgb(93,133,254));
}
.contentBox {
    width:68%;
    border:5px solid black;
    margin-right:auto;
    margin-left:auto;
    padding:24px 30px;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cBoxTitle {
    text-align:center;
    margin:0;
    padding:0;
    font-size:42px;
    font-weight:700;
    color:#1A8AEC;
}
.cBoxTxt {
    text-align:justify;
    margin-top:15px;
    padding:0;
    font-size:30px;
    line-height:40px;
    font-weight:400;
}
.cBoxBtn {
    padding:14px;
    border-radius:40px;
    border:5px solid #1A8AEC;
    color:#1A8AEC;
    text-align:center;
    font-size:32px;
    font-weight:700;
    width:350px;
    margin-right:auto;
    margin-left:auto;
    cursor:pointer;
}
.cBoxBtn:hover {
    background-color:#1A8AEC;
    color:white;
    user-select:none;
}
.contentB {
    padding:30px 0px;
    background-color:rgb(179,231,233);
}
.contentBanner {
    display:grid;
    grid-template-columns:70% 30%;
    margin-right:auto;
    margin-left:auto;
    width:70%;
    color:black;
}
.centerC {
    display:grid;
    grid-template-columns:auto;
    align-content:center;
}
.contentTxt {
    font-size:38px;
    font-weight:700;
}
.contentBtn {
    padding:14px;
    border-radius:40px;
    border:5px solid black;
    color:black;
    text-align:center;
    font-size:30px;
    font-weight:700;
    width:350px;
    cursor:pointer;
}
.contentBtn:hover {
    background-color:#1A8AEC;
    color:white;
    user-select:none;
}
.contentBanner2 {
    margin-right:auto;
    margin-left:auto;
    width:45%;
}
.contentTxt2 {
    text-align:center;
    color:black;
    font-size:42px;
    font-weight:700;
    margin:10px 0px;
}
.roboTeamLogo {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:auto;
}
.footer {
    width:100%;
    height:35%;
    color:black;
    background-color:rgb(187,188,188);
    padding:30px 0px;
}
.footerC {
    display:grid;
    grid-template-columns:25% 25% 28% 22%;
    margin-right:auto;
    margin-left:auto;
    width:70%;
}
.footerH {
    font-size: 32px;
    font-weight:700;
    margin:0;
    margin:0px 0px 12px 0px;
}
.footerGroup ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
.footerGroup ul li {
    margin-top:10px;
    font-weight:500;
    font-size:20px;
}
.pageLink {
    text-decoration:none;
    color:black;
}
.pageLink:hover {
    text-decoration:underline;
}
.socialC {
    display:grid;
    grid-template-columns:33% 33% 33%;
    align-content:center;
    width:100%;
    height:auto;
    margin:0;
}
.socialLink {
    text-decoration:none;
    color:black;
}
.socialLink i {
    font-size:50px;
}
#socialG {
    width:70%;
}
/*start of styles first used on the about us page*/
.mHTxt2C {
    position:absolute;
    top:40%;
    left:0;
    width:100%;
}
.mHTxt2 {
    text-align:center;
    color:white;
    font-weight:700;
    font-size:6vw;
    background-color:rgba(0,0,0,0);
}
.contentBox2 {
    width:68%;
    margin-right:auto;
    margin-left:auto;
}
.contentB2 {
    text-align:center;
    padding:30px 0px;
    padding-bottom:46px;
    background-image:linear-gradient(135deg, rgb(37,205,254), rgb(93,133,254));
}
.contentTxt2 {
    width:68%;
    font-size:38px;
    font-weight:700;
    margin-right:auto;
    margin-left:auto;
}